apiVersion: v1
kind: ConfigMap
metadata:
  name: {{configmap_name}}
  labels:
    app: {{label}}
data:
  connect-distributes.properties: |
{%- for key, value in properties.items() %}
    {{key}}={{value}}
{%- endfor %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{service_name}}
  labels:
    app: {{label}}
spec:
  type: NodePort
  ports:
  - port: {{port}}
  selector:
    app: {{label}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{deployment_name}}
  labels:
    app: {{label}}
spec:
  replicas: {{replicas}}
  selector:
    matchLabels:
      app: {{label}}
  template:
    metadata:
      annotations:
        configmap: {{configmap_annotation}}
      labels:
        app: {{label}}
    spec:
      containers:
        - name: {{container_name}}
          image: {{image}}
          ports:
          - containerPort: {{containerport}}
          volumeMounts:
          - name: config-volume
            mountPath: /etc/config
      volumes:
        - name: config-volume
          configMap:
            name: {{configmap_name}}
